@import "tailwindcss";

html {
    -webkit-text-size-adjust: 100%;
}

button {
    cursor: pointer !important;
}

@media (hover: hover) and (pointer: fine) {
    button:hover {
        transform: scale(0.98);
    }
}